.col-md-4
  = bootstrap_form_for @routine, :html => { :class => 'form-horizontal' } do |f|
    = f.text_field :title
    = f.text_area :purpose
    = f.text_field :resources
    = f.number_field :weeks
    = f.number_field :days
    = f.number_field :minutes
    .form-actions
      = f.button :submit, :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), routines_path, :class => 'btn'
