.container-fluid
  .row
    .panel.panel-primary
      .panel-heading{:style => 'padding: 10px 0px 10px 15px;'}
        .container-fluid{:style => 'padding: 0px;'}
          %span.pull-left
            %h4 +32
          / Tabs
          %span.pull-right
            %ul.nav.panel-tabs
              %li.active
                %a{"data-toggle" => "tab", href: "#tab1-#{@routine.id}"} Info
              %li
                %a{"data-toggle" => "tab", href: "#tab2-#{@routine.id}"} About
              %li
                %a{"data-toggle" => "tab", href: "#tab3-#{@routine.id}"} Download
      .panel-body
        .tab-content
          .tab-pane.active{ :id => "tab1-#{@routine.id}" }
            .container-fluid
              %h2.text-center{:style => 'margin:0px'}
                %span.text-muted=@routine.title
              %br
              .row
                .col-xs-7.col-md-8
                  %p.lead{:style => "margin-bottom: 0px;"} 
                    #{@routine.minutes+@routine.hours*60} minutes/day
                  %p.lead 
                    #{@routine.days} days/week
                .col-xs-3
                  .text-center
                    %h5{:style => "margin-top: 5px;"}  Weeks
                  .row.text-center
                    %span.label.label-primary #{@routine.weeks}
                
          .tab-pane{ :id => "tab2-#{@routine.id}" }
            .lead=@routine.purpose
          .tab-pane.text-center{ :id => "tab3-#{@routine.id}" }
            %form{ action: "/routines/#{@routine.id}.ics", method: 'get', id: "myForm#{@routine.id}", style: "margin-top:0px;"}
              %br
              .row-fluid.text-center
                .btn-group{"data-toggle" => "buttons"}
                  -Routine::DAYS.each do |day|
                    %label.btn.btn-primary
                      %input{type: "checkbox", name:"days[]", value: day}=day[0,1]
                :javascript
                  $('.btn').button()
              %br
              .row-fluid.text-center
                .form-group{:style => "width:250px"}
                  .input-group.date{ :id => "datetimepicker#{@routine.id}" }
                    %input.form-control{type: "text", name: 'datetime', value: @default_start}
                    %span.input-group-addon
                      %span.glyphicon.glyphicon-calendar
                  :javascript
                    $(function () {
                      $("#datetimepicker#{@routine.id}").datetimepicker({
                      });
                    });
              .row-fluid.text-center
                %input.btn.btn-success{:type => 'submit', :value => 'Download'}
            :javascript
              $("#myForm#{@routine.id}").submit(function() {
                  $("#myForm#{@routine.id} .btn.active").each(function() {
                       var input = document.createElement("input");
                       input.setAttribute("type", "hidden");
                       input.setAttribute("name", this.name);
                       input.setAttribute("value", this.value);
                       document.getElementById("myForm#{@routine.id}").appendChild(input);
                   });
              });
