.container-fluid
  .row
    .panel.panel-primary
      .panel-heading{:style => 'padding: 10px 0px 10px 15px;'}
        .container-fluid{:style => 'padding: 0px;'}
          %span.pull-left
            %h4 +32
          / Tabs
          %span.pull-right
            %ul.nav.panel-tabs
              %li.active
                %a{"data-toggle" => "tab", href: "#tab1-#{@routine.id}"} Info
              %li
                %a{"data-toggle" => "tab", href: "#tab2-#{@routine.id}"} About
              %li
                %a{"data-toggle" => "tab", href: "#tab3-#{@routine.id}"} Download
      .panel-body
        .tab-content
          .tab-pane.active{ :id => "tab1-#{@routine.id}" }
            .container-fluid
              %h2.text-center{:style => 'margin:0px'}
                %span.text-muted=@routine.title
              %br
              .row
                .col-xs-7.col-md-8
                  %p.lead{:style => "margin-bottom: 0px;"} 
                    #{@routine.minutes+@routine.hours*60} minutes/day
                  %p.lead 
                    #{@routine.days} days/week
                .col-xs-3
                  .text-center
                    %h5{:style => "margin-top: 5px;"}  Weeks
                  .row.text-center
                    %span.label.label-primary #{@routine.weeks}
                
          .tab-pane{ :id => "tab2-#{@routine.id}" }
            .lead=@routine.purpose
          .tab-pane{ :id => "tab3-#{@routine.id}" }
            %form{ action: "/routines/#{@routine.id}.ics", method: 'get', id: "myForm", style: "margin-top:0px;"}
              .row-fluid 
                .btn-group{"data-toggle" => "buttons"}
                  -Routine::DAYS.each do |day|
                    %label.btn.btn-primary
                      %input{type: "checkbox", name:"days[]", value: day}=day[0,1]
                :javascript
                  $('.btn').button()
                    -#%button.btn.btn-primary{type: "checkbox", name:"days[]", value: day}=day[0,1]
            .row-fluid.text-center
              Start Date &amp; Time
            .row-fluid.text-center
              .form-group
                .input-group.date{ :id => "datetimepicker#{@routine.id}" }
                  %input.form-control{type: "text"}/
                  %span.input-group-addon
                    %span.glyphicon.glyphicon-calendar
                :javascript
                  $(function () {
                      $("#datetimepicker#{@routine.id}").datetimepicker({
                      });
                  });
                %br
                .btn.btn-success Build Schedule
