- model_class = Routine
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:title) + ':'
  %br
  = @routine.title
%p
  %strong= model_class.human_attribute_name(:purpose) + ':'
  %br
  = @routine.purpose
%p
  %strong= model_class.human_attribute_name(:resources) + ':'
  %br
  = @routine.resources
%p
  %strong= model_class.human_attribute_name(:weeks) + ':'
  %br
  = @routine.weeks
%p
  %strong= model_class.human_attribute_name(:days) + ':'
  %br
  = @routine.days
%p
  %strong= model_class.human_attribute_name(:hours) + ':'
  %br
  = @routine.hours
%p
  %strong= model_class.human_attribute_name(:minutes) + ':'
  %br
  = @routine.minutes
%p
  %strong= model_class.human_attribute_name(:user_id) + ':'
  %br
  = @routine.user_id

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), routines_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_routine_path(@routine), :class => 'btn btn-primary'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), routine_path(@routine), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
%br/
.container
  .row
    .col-md-6.col-md-offset-3
      .panel.panel-primary
        .panel-heading
          %h3.panel-title Panel title
          %span.pull-right
            / Tabs
            %ul.nav.panel-tabs
              %li.active
                %a{"data-toggle" => "tab", href: "#tab1"} Tab 1
              %li
                %a{"data-toggle" => "tab", href: "#tab2"} Tab 2
              %li
                %a{"data-toggle" => "tab", href: "#tab3"} Tab 3
              %li
                %a{"data-toggle" => "tab", href: "#tab4"} Tab 4
        .panel-body
          .tab-content
            #tab1.tab-pane.active Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
            #tab2.tab-pane Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            #tab3.tab-pane Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            #tab4.tab-pane
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

              Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, 
.container
  .row
    .col-sm-6
      .form-group
        #datetimepicker1.input-group.date
          %input.form-control{type: "text"}/
          %span.input-group-addon
            %span.glyphicon.glyphicon-calendar
              :javascript
                $(function () {
                  $('#datetimepicker1').datetimepicker();
                });

.btn-group{"data-toggle" => "buttons"}
  %label.btn.btn-primary
    %input{type: "checkbox"}/
    Option 1
  %label.btn.btn-primary
    %input{type: "checkbox"}/
    Option 2
  %label.btn.btn-primary
    %input{type: "checkbox"}/
    Option 3
